div{
    margin-block-end: 500;
    text-align: right;
    color: rgb(118, 144, 214);
    word-spacing: 8px;
}
h1{
    font-weight: 1000px;
    text-align: unset;  

}
p{
    text-align: end;
    image-rendering: initial;
}
h3{
    color: darkseagreen;
    text-align: left;
}
.qw{
    text-align: center;
    font-weight: bolder;

}
.qe{
    font-size: small;
    text-align: initial;
    color: darkgrey;
    font-weight: bolder;
}
.wq{
    text-align: start;
}
.qqq{
    text-align: left;
    color: rgb(151, 147, 151);
    font-size: x-large;   
}
.qww{
    text-align: start;
}
.qa{
    text-align: start;
}
.rr{
    font-weight: bolder ;
}
.wqw{
    text-align: start;
}
.qaz{
    text-align: left;
}
.qwer{
    font-weight: bolder;
    text-align: start;
}
.zx{
    text-align: start;
}
.zzx{
    text-align: left;
    color: darkgrey;
    font-size: x-large;
}
.ert{
    text-align: left;
}
.qwert{
    text-align: start;
}
.qwerty{
    text-align: start;
    font-weight: bolder;
    color: rgb(151, 153, 153);
}
.qwertyu{
    text-align: center;
}
.qazx{
    text-align: left;
}
.ewq{
    text-align: left;

}
.rewq{
    color: rgb(156, 153, 149);
    font-weight: bolder;
}
.qqaa{
    text-align: center;
}
.vbv{
    text-align: left;
    color: rgb(143, 136, 136);
}
.ras{
    text-align: left;
}
.werw{
    text-align: center;
}
.asad{
    text-align: center;
}
.assad{
    text-align: center;
}
.qqaazz{
    text-align: center;
}
.das{
    text-align: left;   
}
.qwwew{
    color: darkgrey;
}
.aaasss{
    color: cornflowerblue;
    text-align: center;
}
.azza{
    text-align: left;
}
.qwewfd{
        color: black;
        font-size: xx-large;
}
.wqsss{
    color: lightsteelblue; 
}
.uwa{
    text-align: left;
}
.asss{
    color: burlywood;
    font-weight: 800;   
}
.zaaa{
    text-align: left;
    
}



